FoamFile
{
    format      ascii;
    class       dictionary;
    object      controlDict;
}

application     foamRun;
startFrom       latestTime;
startTime       0;
stopAt          endTime;
endTime         200;
deltaT          1;
adjustTimeStep  no;
writeControl    timeStep;
writeInterval   200;
writeFormat     ascii;
writePrecision  12;
