FoamFile
{
    format      ascii;
    class       dictionary;
    object      topoSetDict;
}

actions
(
    {
        name    inletFilter;
        type    cellSet;
        action  new;
        source  patchToCell;
        patch   patch_inlet;
    }
    {
        name    inletFilter;
        type    cellSet;
        action  add;
        source  haloToCell;
        steps   4;
    }
    {
        name    inletFilter;
        type    cellZoneSet;
        action  new;
        source  setToCellZone;
        set     inletFilter;
    }
);
