/*--------------------------------*- C++ -*----------------------------------*\
\*---------------------------------------------------------------------------*/
FoamFile
{
    format      ascii;
    class       dictionary;
    object      MRFProperties;
}

MRF
{
    cellZone            mrf;
    active              yes;
    nonRotatingPatches  ();
    origin              (0.036 0.02 0.004);
    axis                (0 0 1);
    omega               1256.63706144;
}
